body{
  background: rgb(179, 204, 204)

}

h3 {
  font-family: sans-serif;
  font-size: 100%;
  text-indent: 30px;

}
h3 {
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 400
}

h2 {
  font-family: sans-serif;
  font-size: 150%;
  text-align: center;
  color: #000000
}
p{
  font-family: sans-serif;
  font-size: 80%;
  font-weight: 400
}

a {
  font-family: sans-serif;
  font-size: 80%;
  text-indent: 60px;
  margin-left: 20px;
  color: #000000
}

head{
  background: rgb(255, 255, 255)
}
nav ul{
  margin: 100;
  list-style: none;
  text-decoration: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  margin-right: 0px;
  font-family: sans-serif;
  font-size: 100%;
  padding-bottom: 30px;
  position: relative;
}
nav a{
  text-decoration: none;
  font-size: 110%;
  font-weight: 300;
}
nav a:hover{
  color: rgb(102, 153, 153)
}

svg{
  background: rgb(255, 255, 255)
}


.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 15px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
